{% extends 'base.html.twig' %}

{% block title %}Le Garage - Tous nos modèles{% endblock %}

{% block body %}

    <h1>Tous nos modèles</h1>

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">{{un_message}}</p>
        {% endfor %}
    {% endfor %}

    {% if modele is empty %}
        <p class="alert alert-danger">Aucun modele renseigné</p>
    {% else %}
        <section>
            {% for m in modele %}
                <article>
                    <h2>{{ m.marque.nom }}</h2>
                    <p><strong>{{ m.nom }}</strong>, {{ m.annee }}</p>
                    <p>{{ m.prix }}</p>
                    <div>
                        <a
                            href={{ path('un_modele', {'id':m.id}) }}
                            class="btn btn-success"
                        >Détails</a>
                        <a
                            href={{ path('delete_modele', {'id':m.id}) }}
                            class="btn btn-danger"
                        >Supprimer</a>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endif %}

    {{ form(ajout) }}

{% endblock %}

