{% extends 'base.html.twig' %}

{% block title %}Le Garage | {{ marque.nom }}{% endblock %}


{% block body %}

    <nav>
        <ul>
            <li><a href={{path('marque')}}>Nos marques</a></li>
            <li><a href={{path('modele')}}>Tous les modèles</a></li>
        </ul>
    </nav>

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">{{un_message}}</p>
        {% endfor %}
    {% endfor %}

    {% if marque is empty %}
        <p class="alert alert-danger">Aucune marque renseignée</p>
    {% else %}
        <h1>{{ marque.nom }}</h1>
        <p><strong>{{ marque.slogan }}</strong></p>
        <p>{{ marque.annee }}, {{ marque.pays }}</p>
    {% endif %}
    {{ form(edit) }}
{% endblock %}