{% extends 'base.html.twig' %}

{% block title %}Le Garage - Nos Marques{% endblock %}

{% block body %}

    <nav>
        <ul>
            <li><a href={{path('marque')}}>Nos marques</a></li>
            <li><a href={{path('modele')}}>Tous les modèles</a></li>
        </ul>
    </nav>

    <h1>Nos marques</h1>

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">{{un_message}}</p>
        {% endfor %}
    {% endfor %}

    {% if marque is empty %}
        <p class="alert alert-danger">Aucune marque renseignée</p>
    {% else %}
        <section class="box">
            {% for m in marque %}
                <article>
                    <h2>{{ m.nom }}</h2>
                    <p><strong>{{ m.slogan }}</strong></p>
                    <p>{{ m.annee }}, {{ m.pays }}</p>
                    <div>
                        <a
                            href={{ path('une_marque', {'id':m.id}) }}
                            class="btn btn-success"
                        >Détails</a>
                        <a
                            href={{ path('delete_marque', {'id':m.id}) }}
                            class="btn btn-danger"
                        >Supprimer</a>
                    </div>
                </article>
            {% endfor %}
        </section>
        <div class="clear"></div>
    {% endif %}

    {{ form(ajout) }}

{% endblock %}
